{include="includes/header"}

<div id="header">
    <h1><img src="images/header/message-icon.png" alt="message">{$form_title}</h1>
    <div id="header-right"></div>
    <div id="header-left"></div>
</div>

<div id="content">
    {$form_open}
        <div>
        {loop="fields"}
            
            {if="$value.field_type !== 'submit'"}

                <p class="tip">{$value.title}</p>

                {$value.label_html}

                <div class="shade">
                    {if="$value.field_type === 'select'"}
                        <p class="alt">{$selected}</p>
                    {/if}

                    {$value.field_html}
                </div>

            {else}

                {$value.field_html}
                
            {/if}
            
        {/loop}
        </div>
    {$form_close}
</div><!-- #content -->

{include="includes/footer"}