<html>
    <head>
        <title>{$message_title}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body marginheight="0" dir="{$ltr? 'ltr' : 'rtl'}" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #e9eef0; padding-top: 20px; font-family: Georgia, 'Times New Roman', Times, serif;" bgcolor="#e9eef0" leftmargin="0">
        <table id="main" cellpadding="5" cellspacing="0" border="0" align="center" width="460">
            <tbody>
               {if="$data.one_line"}
                <tr>
                    <td>
                        <table id="one-line-data" cellpadding="10" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td><h2 style="font-weight: normal; font-size: 24px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; color: #8fbacb; padding: 0;">{$one_line_data_title}</h2></td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellspacing="0" border="0" style="border: 1px solid #cbe2ec; padding: 10px;" bgcolor="f6f8f9" width="460" cellpadding="5">
                                            <tbody>
                                                {loop="$data.one_line"}
                                                <tr>
                                                    <td>
                                                        <h3 style="font-size: 16px; font-weight: normal; margin: {$ltr? '0 10px 0 0' : '0 0 0 10px'}; padding: 0; font-family: Georgia, 'Times New Roman', Times, serif; color: #b4cdd6; float: {$ltr? 'left' : 'right'};">{$value.id}</h3>
                                                        <p style="font-weight: normal; font-size: 16px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; color: #858585; padding: 0;">{$value.value}</p>
                                                    </td>
                                                </tr>
                                                {/loop}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="position: relative; overflow: hidden; margin: 0; background-color: #dbe1e6; padding: 0; font-family: Georgia, 'Times New Roman', Times, serif; height: 1px; width: 100%;"></div>
                                        <div style="position: relative; overflow: hidden; margin: 0; background-color: #f6f8f9; padding: 0; font-family: Georgia, 'Times New Roman', Times, serif; height: 1px; width: 100%;"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table><!-- #one-line-data -->
                    </td>
                </tr>
                {/if}
                {if="$data.multiple_lines"}
                <tr>
                    <td>
                        <table id="multiple-lines-data"  cellpadding="10" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <h2 style="font-weight: normal; font-size: 24px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; color: #8fbacb; padding: 0;">{$multiple_lines_data_title}</h2>
                                    </td>
                                </tr>
                                {loop="$data.multiple_lines"}
                                <tr>
                                    <td>
                                        <table cellspacing="0" border="0" style="border: 1px solid #cbe2ec; padding: 10px;" bgcolor="f6f8f9" width="460" cellpadding="5">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h3 style="font-weight: normal; font-size: 16px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; color: #b4cdd6; padding: 0;">{$value.id}</h3>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style="font-weight: normal; font-size: 16px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; color: #858585; padding: 0;">
                                                        {$value.value}
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                {/loop}
                                <tr>
                                    <td>
                                        <div style="position: relative; overflow: hidden; margin: 0; background-color: #dbe1e6; padding: 0; font-family: Georgia, 'Times New Roman', Times, serif; height: 1px; width: 100%;"></div>
                                        <div style="position: relative; overflow: hidden; margin: 0; background-color: #f6f8f9; padding: 0; font-family: Georgia, 'Times New Roman', Times, serif; height: 1px; width: 100%;"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table><!-- #multiple-lines-data -->
                    </td>
                </tr>
                {/if}
                <tr>
                    <td>
                        <p id="generator" align="center" style="font-size: 10px; font-family: Georgia, 'Times New Roman', Times, serif; margin: 0; color: #afc1c9; padding: 0;">{$generator}</p>
                    </td>
                </tr>
            </tbody>
        </table><!-- #main -->
    </body>
</html>
