{include="includes/header"}

<div id="header">
    <h1><img src="images/header/message-icon.png" alt="message">تواصل معنا</h1>
    <div id="header-right"></div>
    <div id="header-left"></div>
</div>

<div id="content">
    <div id="response" class="success">
        <img src="images/response/success-icon.png" alt="{$status}" class="success-icon">
        <h2>{$headline}</h2>
        <p>{$message}</p>
        <a href="{$button.url}" class="button">{$button.text}</a>
    </div>
</div><!-- #content -->

{include="includes/footer"}